<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="public/favicon.ico" />
    <script type="text/javascript" src="<%= documentServer %>/web-apps/apps/api/documents/api.js"></script>
    <script type="text/javascript" src="public/javascript/editor.js"></script>
</head>
<body>

<div class="space">
    <div id="editor">
        <div id="editor_frame"></div>
    </div>
</div>

<style>
    div, body, html {
        height: 100%;
    }

</style>
<script>
    const username = "<%= username %>";
    const key = "<%= key %>";
    const files = "<%= files %>";

    new Editor({
        callback: "<%= exampleUrl %>",
        username: username
    }).open_and_wait(files, key)

</script>
</body>
</html>
